<%- layout("./layouts/boilorplate.ejs") %>
<body>
<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <br>
        <h3><%= listing.title %></h3>
    </div>
    <!-- hotel detail -->
    <div class="card col-12 col-md-8 offset-md-2 index-page-card">
        <img src="<%= listing.image.url %>" class="card-img-top showPage-img" alt="Listing Image">
        <div class="card-body">
            <p class="card-text">
                <h5><i>Owner, <%= listing.owner.name %></i></h5>
                &#8226; <%= listing.description %> <br>
                &#8226; &#8377; <%= listing.price.toLocaleString("en-IN") %> <br>
                &#8226; <%= listing.location %> <br>
                &#8226; <%= listing.country %> <br>
                &#8226; <%= listing.tags.join(", ") %> <br>
            </p>
        </div>
    </div>
</div>

    <!-- buttons -->
    <!-- currentUser._id === listing.owner._id  -->
    <!-- this will === comapres whole string and type, will not work properly -->
    <!-- currentUser._id.equals(listing.owner.id) -->
    <!-- this .equals() method comapred ObjectIds of mongodb, so better to use. -->
<div class="row">
     <% if (currentUser && currentUser._id.equals(listing.owner.id)) {  %> 
        <div class="show-btns col-12 col-md-8 offset-md-2">
            <a class="me-4" href="/listing/<%= listing._id %>/edit"><button class="btn btn-dark show-btn1">Edit Rental</button></a>
        
            <form class="" method="post" action="/listing/<%= listing._id %>?_method=DELETE">
                <button class="btn btn-dark show-btn2">Delete Rental</button>
            </form> 
        </div>
     <% } %> 

     <!-- add review form --> 
    <div class="col-12 col-md-8 offset-md-2">
        <hr class="mt-4">           
        <% if (currentUser) { %>
            <h4>Leave a Review</h4>
            <form class="mt-4 needs-validation" novalidate method="post" action="/listing/<%= listing._id %>/review" >
                <!-- Starability used for rating stars. -->
                <!-- https://github.com/LunarLogic/starability --> 
                <div class="mt-2">
                <label class="form-label" for="no-rate">Rating</label>
                <fieldset class="starability-slot">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
                </div>
                <div class="">
                    <label class="form-label" for="comment">Comment</label>
                    <textarea class="form-control" name="review[comment]" placeholder="Add a Comment" id="comment" cols="30" rows="5" required></textarea>
                    <div class="invalid-feedback">Please add a Comment</div>
                </div>
                <button class="btn btn-dark show-btn1 mt-3 mb-3">Submit</button>
            </form>
        <% } else { %>
            <h4>Login to write a Review</h4>
        <% } %>
    
    </div>
</div>


<div class="row">

    <!-- reviews -->
    <% if (listing.review.length > 0) { %>
        <div class="col-12 col-md-8 offset-md-2">
            <hr>
            <h4>All Reviews</h4>
            <br>    
        </div>
        <div>
            <% for(eachReview of listing.review) { %>
                <div class="card col-12 col-md-8 offset-md-2 comment-cont mb-3">
                    <div class="card-body">
                        <div class="comment">
                            <img src="<%= eachReview.author.profile.url %>" alt="">
                            <p><b><%= eachReview.author.name %></b></p>
                        </div>
                        <p class="starability-result" data-rating="<%= eachReview.rating %>"></p>
                        <p class="card-text"><%= eachReview.comment %></p>
                    </div>
                    <div>
                        <% if (currentUser && eachReview.author._id.toString() === currentUser._id.toString()) {  %>
                            <form method="post" action="/listing/<%= listing.id %>/review/<%= eachReview.id %>?_method=DELETE">
                                <button class="btn btn-dark show-btn1 mt-3">Delete</button>
                            </form>
                         <% } %> 
                    </div>
                </div>
            <% } %>
        </div>
    <% } %>

    <!-- map container -->
    <div class="col-12 col-md-8 offset-md-2 mb-4">
        <hr>
        <h4>Where you'll be</h4>
        <!-- map container id -->
        <div id="map"></div>
    </div>
</div>
</body>
<script>
    const mapToken =  "<%= process.env.MAP_TOKEN %>"
    const listing = <%- JSON.stringify(listing) %>;
    // this will be accesiable in map.js in public folder, further in this code.
    // because public folder don't have direst accces to enviornmental variables.
</script>
<script src="/script/map.js"></script>